
/* buat efek hitam */
.hitam1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to top, blue, red); */
  width: 100%;
  height: 50%;
  z-index: 1161;
  position: absolute;
  top: 39.5%;
}
.hitam2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8 ), rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to top, blue, red); */
  width: 100%;
  height: 30%;
  z-index: 1161;
  position: absolute;
  top: 120%;
}

.hitam {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to top, blue, red); */
  width: 100%;
  height: 30%;
  z-index: 1161;
  position: absolute;
  top: 17%;
}
.hitam3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3 ), rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to top, blue, red); */
  width: 100%;
  height: 30%;
  z-index: 1161;
  position: absolute;
  top: 228.5%;
}
.hitam4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7 ), rgba(0, 0, 0, 0));
  /* background-image: linear-gradient(to top, blue, red); */
  width: 100%;
  height: 30%;
  z-index: 1161;
  position: absolute;
  top: 337%;
}
.hitam5 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8 ), rgba(0, 0, 0, 0));
  width: 100%;
  height: 30%;
  z-index: 1000;
  position: absolute;
  top: 371.4%;
}
